body { background: #c8c794; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 10px; display: flex; }
.block-validator-0 { color: #74e223; font-size: 16px; margin-bottom: 5px; }
.block-search-1 { color: #a99a7f; font-size: 16px; margin-bottom: 5px; }
.block-session-2 { color: #6771f6; font-size: 13px; margin-bottom: 5px; }
.block-order-3 { color: #413080; font-size: 16px; margin-bottom: 5px; }
.block-sms-4 { color: #a95f53; font-size: 19px; margin-bottom: 5px; }